AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.youfacing\.me$
RewriteRule ^/?$ "https\:\/\/youfacing\.me\/" [R=301,L]

RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* – [F,L]

Redirect 301 /cordova.js /assets/js/cordova.fake.js
