<?xml version="1.0" encoding="UTF-8"?>

<widget id = "com.manifestinteractive.facing"
        version = "0.0.1"
        xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Facing</name>

    <description>
        GPS & Compass Frameworks to Connect People to Each Other http://youfacing.me
    </description>

    <author href="http://manifestinteractive.com" email="hello@manifestinteractive.com">
        Manifest Interactive
    </author>

    <!-- Bulk of this config.xml came from https://github.com/phonegap/phonegap-start -->

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.

    <preference name="permissions"                value="none"/>
    -->

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="Orientation" value="portrait" />
    <!--<preference name="target-device"  value="universal" /> -->
    <preference name="Fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <!--<preference name="stay-in-webview" value="false" /> -->
    <!--<preference name="ios-statusbarstyle" value="black-translucent" /> -->
    <!--<preference name="detect-data-types" value="true" /> -->
    <!--<preference name="exit-on-suspend" value="false" /> -->
    <!--<preference name="show-splash-screen-spinner" value="true" /> -->
    <!--<preference name="auto-hide-splash-screen" value="false" /> -->
    <!--<preference name="disable-cursor" value="false" /> -->
    <!--<preference name="android-minSdkVersion" value="7" /> -->
    <!--<preference name="android-installLocation" value="auto" /> -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff222222" />
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="BackupWebStorage" value="local" />

    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>

    <!-- Plugins -->

    <!-- Core plugins -->
    <!-- ================================================== -->

    <!-- Console ( Better Support for console.log ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/624 -->
    <gap:plugin name="org.apache.cordova.console" version="0.2.7" />

    <!-- Contacts ( access to the device contacts ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/930 -->
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.11" />

    <!-- Device Info ( describes the device's hardware and software ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/628 -->
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />

    <!-- Device Motion ( access to the device's accelerometer ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/623 -->
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.6" />

    <!-- Device Orientation ( access to the device's compass ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/629 -->
    <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.5" />

    <!-- Geolocation ( information about the device's location, such as latitude and longitude ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/821 -->
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />

    <!-- Network Information ( information about the device's cellular and wifi connection ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/626 -->
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />

    <!-- Splashscreen ( support for loading a Splashscreen ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/620 -->
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />

    <!-- Notification ( support for loading a Splashscreen ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/622 -->
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />


    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!-- ================================================== -->

    <!-- Custom URL Scheme Support ( facing:// ) -->
    <!-- Documentation: https://build.phonegap.com/plugins/844 -->
    <gap:plugin name="nl.x-services.plugins.launchmyapp" version="3.2.0">
        <param name="URL_SCHEME" value="facing" />
    </gap:plugin>

    <!-- Support to switch the Flashlight / Torch of your device on or off -->
    <!-- Documentation: https://build.phonegap.com/plugins/871 -->
    <gap:plugin name="nl.x-services.plugins.flashlight" version="2.0.0" />

    <!-- Prevent the screen of the mobile device from falling asleep. -->
    <!-- Documentation: https://build.phonegap.com/plugins/842 -->
    <gap:plugin name="nl.x-services.plugins.insomnia" version="4.0.1" />

    <!-- IOS Background Location Enabler -->
    <!-- Documentation: https://build.phonegap.com/plugins/291 -->
    <gap:plugin name="com.cleartag.plugins.enablebackgroundlocation" version="3.0" />


    <!-- ================================================== -->

    <!-- Define app icon for each platform. -->
    <icon src="www/icon.png" />

    <!-- Built with http://ticons.fokkezb.nl -->
    <icon gap:platform="android" gap:qualifier="hdpi"  src="www/res/icon/android/drawable-hdpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi"  src="www/res/icon/android/drawable-ldpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi"  src="www/res/icon/android/drawable-mdpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/drawable-xhdpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="www/res/icon/android/drawable-xxhdpi/appicon.png" />

    <icon gap:platform="ios" width="29"  height="29"  src="www/res/icon/ios/appicon-Small.png" />
    <icon gap:platform="ios" width="58"  height="58"  src="www/res/icon/ios/appicon-Small@2x.png" />
    <icon gap:platform="ios" width="40"  height="40"  src="www/res/icon/ios/appicon-Small-40.png" />
    <icon gap:platform="ios" width="80"  height="80"  src="www/res/icon/ios/appicon-Small-40@2x.png" />
    <icon gap:platform="ios" width="50"  height="50"  src="www/res/icon/ios/appicon-Small-50.png" />
    <icon gap:platform="ios" width="100" height="100" src="www/res/icon/ios/appicon-Small-50@2x.png" />
    <icon gap:platform="ios" width="57"  height="57"  src="www/res/icon/ios/appicon.png" />
    <icon gap:platform="ios" width="114" height="114" src="www/res/icon/ios/appicon@2x.png" />
    <icon gap:platform="ios" width="60"  height="60"  src="www/res/icon/ios/appicon-60.png" />
    <icon gap:platform="ios" width="120" height="120" src="www/res/icon/ios/appicon-60@2x.png" />
    <icon gap:platform="ios" width="72"  height="72"  src="www/res/icon/ios/appicon-72.png" />
    <icon gap:platform="ios" width="144" height="144" src="www/res/icon/ios/appicon-72@2x.png" />
    <icon gap:platform="ios" width="76"  height="76"  src="www/res/icon/ios/appicon-76.png" />
    <icon gap:platform="ios" width="152" height="152" src="www/res/icon/ios/appicon-76@2x.png" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi"  src="www/res/screen/android/res-en-long-port-ldpi/default.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi"  src="www/res/screen/android/res-en-long-port-mdpi/default.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi"  src="www/res/screen/android/res-en-long-port-hdpi/default.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/res-en-long-port-xhdpi/default.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xxhdpi" src="www/res/screen/android/res-en-long-port-xxhdpi/default.png" />

    <gap:splash gap:platform="ios" width="320"  height="480"  src="www/res/screen/ios/Default.png" />           <!-- [X] iPhone Non-Retina (iOS 6.1 and Prior) -->
    <gap:splash gap:platform="ios" width="640"  height="960"  src="www/res/screen/ios/Default@2x.png" />        <!-- [X] iPhone Retina -->
    <gap:splash gap:platform="ios" width="640"  height="1136" src="www/res/screen/ios/Default-568h@2x.png" />   <!-- [X] iPhone Retina 4-inch -->
    <gap:splash gap:platform="ios" width="768"  height="1024" src="www/res/screen/ios/Default-Portrait.png" />     <!-- [X] iPad Portrait Non-Retina -->
    <gap:splash gap:platform="ios" width="1536" height="2048" src="www/res/screen/ios/Default-Portrait@2x.png" />  <!-- [X] iPad Portrait Retina -->
    <gap:splash gap:platform="ios" width="1024" height="768"  src="www/res/screen/ios/Default-Landscape.png" />    <!-- [ ] iPad Landscape Non-Retina -->
    <gap:splash gap:platform="ios" width="2048" height="1536" src="www/res/screen/ios/Default-Landscape@2x.png" /> <!-- [ ] iPad Landscape Retina -->

    <access origin="*" />

</widget>
