#about
{
    background-color: $ui-dark-blue;

    .header-section
    {
        text-align: center;
        color: #89cedd;
        font-size: 20px;
        line-height: 68px;
        overflow: hidden;
        font-weight: 500;
    }

    .about-us
    {
        padding: 40px 0 30px 0;
        color: white;
        font-size: 16px;
    }

    .push-header
    {
        margin-top: 60px;
        padding: 5px 17px;
    }

    .logo-header
    {
        background: url(../img/logo_rectangle.svg) center center no-repeat transparent;
        display: block;
        width: 100%;
        height: 63px;
        background-size: 210px 63px;
        z-index: 500;
    }

    button.support-site
    {
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        background-color: #595a5c;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0 0 0;
        float: left;
    }

    button.visit-website
    {
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        background-color: #F79021;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0 0 0;
        float: right;
    }

    .legal
    {
        text-align: center;
        clear: both;
        padding-top: 40px;

        button
        {
            border: none;
            padding: 0 20px;
            background-color: $ui-dark-blue;
            color: $ui-light-blue;
            font-size: 14px;
            font-weight: 300;
            display: inline;
            margin: 0;

            &:first-child
            {
                border-right: 1px solid $ui-blue;
            }
        }
    }
}