#my-data
{
    background-color: $ui-dark-blue;

    .panel-data
    {
        margin-top: 20px;
        padding: 40px;
        line-height: 20px;

        strong
        {
            font-weight: bold;
            text-align: right;
            padding-right: 7px;
            width: 70px;
            display: inline-block;
            opacity: 0.3;
        }

        h3
        {
            font-size: 20px;
            font-weight: normal;
            margin: 20px 0 10px 0;
            overflow: visible;
            padding: 0 0 10px 0;
            text-align: center;
            color: #FFF;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}
#friends-data
{
    background-color: $ui-dark-blue;

    .panel-data
    {
        margin-top: 20px;
        padding: 40px;
        line-height: 20px;

        strong
        {
            font-weight: bold;
            text-align: right;
            padding-right: 7px;
            width: 70px;
            display: inline-block;
            opacity: 0.3;
        }

        h3
        {
            font-size: 20px;
            font-weight: normal;
            margin: 20px 0 10px 0;
            overflow: visible;
            padding: 0 0 10px 0;
            text-align: center;
            color: #FFF;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}