#dev-log
{
    background-color: $ui-dark-blue;

    .panel ul
    {
        max-width: 100%;
    }
    .clear-wrapper
    {
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
    }
    .clear-log
    {
        display: block;
        color: #fff;
        font-family: monospace;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.25);
    }
    .output
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 30px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        margin-top: 60px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        color: #fff;

        .push
        {
            display: block;
            width: 100%;
            height: 110px;
        }

        ul {
            color: lime;
            line-height: 20px;
            margin-top: 15px;
            margin-left: 30px;
            margin-right: 20px;
            font-family: monospace;
            font-size: 14px;
            list-style: none;

            li {

                text-indent: -5px;
                display: inline-block;

                &:before
                {
                    content: "\f105";
                    font-family: 'FontAwesome';
                    position: relative;
                    left: -14px;
                }
                &.log
                {
                    color: dodgerblue;
                }
                &.warn
                {
                    color: darkorange;
                }
                &.error
                {
                    color: red;
                }
                &.debug
                {
                    color: lime;
                }
            }
        }
    }
}