$background-color: rgba(0,0,0, 0.8);

#tourbus, .tourbus-container
{
    display: none;
    z-index: 10000;
}
.tourbus-legs
{
    display: none;
    z-index: 10000;
}
.tourbus-leg
{
    position: absolute;
    visibility: hidden;
    top: 0;
    border-radius: 6px;
    background: $background-color;
    z-index: 10000;

    .tourbus-leg-inner
    {
        padding: 16px;
        position: relative;
        zoom: 1;
        font-size: 14px;
        color: #FFF;
        line-height: 20px;

        h1, h2, h3, h4, h5, h6
        {
            margin-top: 0;
            padding-top: 0;
        }

        h3
        {
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 10px;
        }
        h4
        {
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            float: left;
            margin-top: 3px;
        }

        .button
        {
            background-color: #fff;
            padding: 4px 10px;
            color: #333;
            border-radius: 4px;
        }

        &:before,
        &:after {
            content: "\0020";
            display: block;
            height: 0;
            overflow: hidden;
        }
        &:after {
            clear: both;
        }
    }
}

/* Tourbus leg arrow */
.tourbus-arrow:before,
.tourbus-arrow:after {
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
}
/* set the :after to be the _interior_ size of the arrow */
/* set the :before to be the _interior + desired border width_ */
.tourbus-arrow:after {
    border-width: 14px;
}
.tourbus-arrow:before {
    border-width: 16px;
}
/* Arrow background and border colors */
/*
  change margin-top/left values here to
  match the border width for :after above

  border colors here are for the _interior_ of the arrow
*/
.tourbus-arrow-right:after {
    border-right-color: rgba(0,0,0,0.1);
    margin-top: -14px;
    top: 50%;
}
.tourbus-arrow-left:after {
    border-left-color: rgba(0,0,0,0.1);
    margin-top: -14px;
    top: 50%;
}
.tourbus-arrow-bottom:after {
    border-bottom-color: rgba(0,0,0,0.1);
    margin-left: -14px;
    left: 50%;
}
.tourbus-arrow-top:after {
    border-top-color: rgba(0,0,0,0.1);
    margin-left: -14px;
    left: 50%;
}
/*
  change margin-top/left values here to
  match the border width for :before above

  border colors here are for the _border_ of the arrow
*/
.tourbus-arrow-right:before {
    border-right-color: $background-color;
    margin-top: -16px;
    top: 50%;
}
.tourbus-arrow-left:before {
    border-left-color: $background-color;
    margin-top: -16px;
    top: 50%;
}
.tourbus-arrow-bottom:before {
    border-bottom-color: $background-color;
    margin-left: -16px;
    left: 50%;
}
.tourbus-arrow-top:before {
    border-top-color: $background-color;
    margin-left: -16px;
    left: 50%;
}
/* you shouldn't need to change these */
.tourbus-arrow-right:after,
.tourbus-arrow-right:before {
    right: 100%;
}
.tourbus-arrow-left:after,
.tourbus-arrow-left:before {
    left: 100%;
}
.tourbus-arrow-bottom:after,
.tourbus-arrow-bottom:before {
    bottom: 100%;
}
.tourbus-arrow-top:after,
.tourbus-arrow-top:before {
    top: 100%;
}

.buttons
{
    margin-top: 12px;
}

#navToggle.intro-tour-highlight {
    background: transparent;
    position: relative;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px $base-orange;
    z-index: 9998;
}
.find-a-friend.intro-tour-highlight {
    box-shadow: 0 0 0 10px $base-orange,
        0 0 0 3px rgba(0, 0, 0, 0.25),
        inset 0 0 0 10px rgba(0, 0, 0, 0.6) !important;
}
.intro-tour-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    min-height: 100%;
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 9999;
}