body
{
  background-color: #000;
  font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #9aa6af;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-tap-highlight-color:rgba(0,0,0,0);
  -moz-text-size-adjust: none;
  -moz-font-smoothing: antialiased;
  -ms-tap-highlight-color:rgba(0,0,0,0);
  -ms-text-size-adjust: none;
  -ms-font-smoothing: antialiased;
  background-color: #000000;
}
a
{
  text-decoration: none;
}
.container
{
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
}
header
{
  height: 60px;
  position: relative;
  background-color: rgba(0,0,0,0.5);
}
header h1
{
  color: #9aa6af;
  text-align: left;
  font-size: 27px;
  line-height: 60px;
  font-weight: bold;
  padding-left: 20px;
  background-color: transparent;
}
.burger
{
  position: absolute;
  float: left;
  padding: 10px;
  top: 10px;
  left: 10px;
  display: none;
}
.burger li
{
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  margin: 5px 0;
}
.burger.open li
{
  background-color: #d9dde1;
}
nav
{
  position: absolute;
  top: 0;
  right: 5px;
}
nav li
{
  float: left;
  display: inline-block;
}
nav li a
{
  font-size: 11px;
  color: #9aa6af;
  padding: 24px 15px;
  display: block;
  white-space: nowrap;
}
nav li a:hover
{
  color: #FFF;
}
ul.menu li:last-child
{
    margin-right: 30px;
}
ul.menu a
{
    text-transform: uppercase;
}
@media only screen and (max-width: 780px)
{
  header
  {
    height: 60px;
    z-index: 2;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  header h1
  {
    display: none;
  }
  .container
  {
    background: #000000;
  }
  .panel
  {
    display: none;
    padding: 20px;
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .burger
  {
    display: block;
  }
  nav
  {
    position: relative;
  }
  nav ul
  {
    height: 100%;
    overflow-y: auto;
  }
  nav li
  {
    display: block;
    float: none;
  }
  nav li a
  {
    padding: 21px 25px;
    letter-spacing: 3px;
    font-size: 14px;
  }
  nav li a.logo
  {
    display: none;
  }
  nav li a.active
  {
    color: #fff;
    background-color: #141e23;
  }
  nav li a:hover
  {
    color: #fff;
    background-color: #19252c;
  }
  .header-section
  {

  }
  nav
  {
    width: 93%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #1d2d35;
    opacity: .3;
    -webkit-transform: translate3d(5%,0,0)scale(.97);
    -moz-transform: translate3d(5%,0,0)scale(.97);
    transform: translate3d(5%,0,0)scale(.97);
  }
  nav.open
  {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0)scale(1);
    -webkit-animation: slideIn .35s ease-in-out;
    -moz-transform: translate3d(0,0,0)scale(1);
    -moz-animation: slideIn .35s ease-in-out;
    transform: translate3d(0,0,0)scale(1);
    animation: slideIn .35s ease-in-out;
  }
  nav.close
  {
    opacity: .3;
    -webkit-transform: translate3d(5%,0,0)scale(.97);
    -webkit-animation: slideOut .3s ease-in-out;
    -moz-transform: translate3d(5%,0,0)scale(.97);
    -moz-animation: slideOut .3s ease-in-out;
    transform: translate3d(5%,0,0)scale(.97);
    animation: slideOut .3s ease-in-out;
  }
  .content
  {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
  }
  header.open, .content.open
  {
    -webkit-transform: translate3d(240px,0,0);
    -webkit-animation: open .5s ease-in-out;
    -moz-transform: translate3d(240px,0,0);
    -moz-animation: open .5s ease-in-out;
    transform: translate3d(240px,0,0);
    animation: open .5s ease-in-out;
  }
  header.close, .content.close
  {
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation: close .3s ease-in-out;
    -moz-transform: translate3d(0,0,0);
    -moz-animation: close .3s ease-in-out;
    transform: translate3d(0,0,0);
    animation: close .3s ease-in-out;
  }
}

@-webkit-keyframes slideIn
{
  0% {
    opacity: .3;
    -webkit-transform: translate3d(5%,0,0)scale(.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0)scale(1);
  }
}
@-moz-keyframes slideIn
{
  0% {
    opacity: .3;
    -moz-transform: translate3d(5%,0,0)scale(.97);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0,0,0)scale(1);
  }
}
@keyframes slideIn
{
  0% {
    opacity: .3;
    transform: translate3d(5%,0,0)scale(.97);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0)scale(1);
  }
}

@-webkit-keyframes slideOut
{
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0)scale(1);
  }
  100% {
    opacity: .3;
    -webkit-transform: translate3d(5%,0,0)scale(.97);
  }
}
@-moz-keyframes slideOut
{
  0% {
    opacity: 1;
    -moz-transform: translate3d(0,0,0)scale(1);
  }
  100% {
    opacity: .3;
    -moz-transform: translate3d(5%,0,0)scale(.97);
  }
}
@keyframes slideOut
{
  0% {
    opacity: 1;
    transform: translate3d(0,0,0)scale(1);
  }
  100% {
    opacity: .3;
    transform: translate3d(5%,0,0)scale(.97);
  }
}

@-webkit-keyframes open
{
  0% {
    -webkit-transform: translate3d(0,0,0);
  }
  70% {
    -webkit-transform: translate3d(260px,0,0);
  }
  100% {
    -webkit-transform: translate3d(240px,0,0);
  }
}
@-moz-keyframes open
{
  0% {
    -moz-transform: translate3d(0,0,0);
  }
  70% {
    -moz-transform: translate3d(260px,0,0);
  }
  100% {
    -moz-transform: translate3d(240px,0,0);
  }
}
@keyframes open
{
  0% {
    transform: translate3d(0,0,0);
  }
  70% {
    transform: translate3d(260px,0,0);
  }
  100% {
    transform: translate3d(240px,0,0);
  }
}
@-webkit-keyframes close
{
  0% {
    -webkit-transform: translate3d(240px,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
@-moz-keyframes close {
  0% {
    -moz-transform: translate3d(240px,0,0);
  }
  100% {
    -moz-transform: translate3d(0,0,0);
  }
}
@keyframes close {
  0% {
    transform: translate3d(240px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
