// Base Colors
$base-orange: #f79022 !default;
$base-blue: #89cedd !default;
$base-grey: #595a5c !default;

// UI Colors
$ui-blue: #1d2d35;
$ui-dark-blue: #141e23;

// Setup sizes for GUI elements
$size-friend: 200px;
$size-friend-large: 350px;
$size-marker: 16px;

// Set which animations to include
$use-fadeInUp: true;
$use-fadeInDown: true;
$use-flipInX: true;
$use-swing: true;
$use-fadeOut: true;
$use-fadeOutDown: true;