@import "variables";
@import "bourbon/bourbon";
@import "animate/animate";
@import "reset";
@import "trunk";
@import "home";
@import "help";
@import "about";
@import "data";
@import "devlog";
@import "tour";
@import "feedback";

html, body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.animated
{
 	@include animate-prefixer(animation-duration, $base-duration);
 	@include animate-prefixer(animation-fill-mode, both);
}
.devonly
{
    visibility: hidden;
}
.reset-gui
{
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    display: none;

    a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #FFF;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    }
}
.logo
{
  background: url(../img/logo_rectangle.svg) center center no-repeat transparent;
  display: block;
  width: 100%;
  height: 63px;
  background-size: 210px 63px;
  position: absolute;
  top: 80px;
  z-index: 500;
}
.fadeLogo
{
  -webkit-animation: fadeLogo 2s;
  -moz-animation: fadeLogo 2s;
  animation: fadeLogo 2s;
  opacity: 0.5;
}
.fadeLogoGuidance
{
    -webkit-animation: fadeLogoGuidance 2s;
    -moz-animation: fadeLogoGuidance 2s;
    animation: fadeLogoGuidance 2s;
    opacity: 0.1;
}
.panel
{
    display: none;
    padding: 20px;
    background-size: cover;
    width: 100%;
    height: 100%;

    &.active
    {
        display: block;
    }

    h1 {
        font-size: 24px;
        color: #FFF;
    }
    h3 {
        font-size:20px;
        font-weight:normal;
        margin:0px;
        overflow:visible;
        padding:0px;
        text-align:center;
        color: #FFF;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    ul {
        max-width: 300px;
        margin: 0 auto;
        color: #FFF
    }
}

#map .google_map
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  margin-top: 60px;
}

.dev
{
    background-image: url(../img/dev.png);
    width: 52px;
    height: 32px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.header-section
{
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.push-header
{
    margin-top: 60px;
}

@media only screen and (min-width: 600px)
{
  .find-a-friend {
    width: 350px;
    height: 350px;
    background-position: 0 0;
    background-size: 350px 350px;
  }
  .find-a-friend.default
  {
    background-image: url(../img/default-user-350.jpg);
    background-size: 3500px 350px;
  }
  .find-a-friend.no-image
  {
    background-image: url(../img/no-image-350.jpg);
    background-size: cover;
    background-position: center center;
  }
  .find-a-friend.contact
  {
    background-size: cover;
    background-position: center center;
  }
  .pulse1 {
    width: 370px;
    height: 370px;
  }
  .pulse2 {
    width: 370px;
    height: 370px;
  }
  a.tooltip > span
  {
    left: 75px;
  }
  .logo
  {
    height: 125px;
    background-size: 420px 125px;
  }
  #home .information
  {
    font-size: 18px;
    text-align: center;
    bottom: 100px;
    height: 200px;
    line-height: 30px;
  }
  #home .information .contact-options
  {
    margin-top: 20px;
  }
  #home .information .contact-option
  {
    font-size: 45px;
    line-height: 45px;
    width: 100px;
  }
  #home .information .contact-option span
  {
    width: 100px;
    font-size: 14px;
  }
}


@include keyframes(pulse1) {
    0% {
        @include transform(scale(1));
        opacity: 0;
    }

    50% {
        @include transform(scale(1));
        opacity: 0;
    }

    60% {
        @include transform(scale(1));
        opacity: .1;
    }

    70% {
        @include transform(scale(1.15));
        opacity: .25;
    }

    80% {
        @include transform(scale(1.25));
        opacity: .1;
    }

    100% {
        @include transform(scale(1.4));
        opacity: 0;
    }
}

@include keyframes(pulse2) {
    0% {
        @include transform(scale(0.6));
        opacity: 0;
    }

    40% {
        @include transform(scale(0.8));
        opacity: .05;
    }

    50% {
        @include transform(scale(1));
        opacity: .1;
    }

    60% {
        @include transform(scale(1.1));
        opacity: .3;
    }

    80% {
        @include transform(scale(1.2));
        opacity: .1;
    }

    100% {
        @include transform(scale(1.3));
        opacity: 0;
    }
}

@include keyframes(fadeLogo) {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@include keyframes(fadeLogoGuidance) {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.1;
    }
}

@include keyframes(cloud1) {
    0% {
        @include transform(translate(-1500px, 0));
    }
    10% {
        @include transform(translate(-1200px, 50px));
    }
    20% {
        @include transform(translate(-900px, 0));
    }
    30% {
        @include transform(translate(-600px, -50px));
    }
    40% {
        @include transform(translate(-300px, 0));
    }
    50% {
        @include transform(translate(0, 50px));
    }
    60% {
        @include transform(translate(300px, 0));
    }
    70% {
        @include transform(translate(600px, -50px));
    }
    80% {
        @include transform(translate(900px, 0));
    }
    90% {
        @include transform(translate(1200px, 50px));
    }
    100% {
        @include transform(translate(1500px ,0));
        top:-300px;
    }
}
@include keyframes(cloud2) {
    0% {
        @include transform(translate(-1500px, 0));
    }
    10% {
        @include transform(translate(-1200px, 50px));
    }
    20% {
        @include transform(translate(-900px, 0));
    }
    30% {
        @include transform(translate(-600px, -50px));
    }
    40% {
        @include transform(translate(-300px, 0));
    }
    50% {
        @include transform(translate(0, 50px));
    }
    60% {
        @include transform(translate(300px, 0));
    }
    70% {
        @include transform(translate(600px, -50px));
    }
    80% {
        @include transform(translate(900px, 0));
    }
    90% {
        @include transform(translate(1200px, 50px));
    }
    100% {
        @include transform(translate(1500px ,0));
        top:-300px;
    }
}
@include keyframes(cloud3) {
    0% {
        @include transform(translate(-1500px, 0));
    }
    10% {
        @include transform(translate(-1200px, 50px));
    }
    20% {
        @include transform(translate(-900px, 0));
    }
    30% {
        @include transform(translate(-600px, -50px));
    }
    40% {
        @include transform(translate(-300px, 0));
    }
    50% {
        @include transform(translate(0, 50px));
    }
    60% {
        @include transform(translate(300px, 0));
    }
    70% {
        @include transform(translate(600px, -50px));
    }
    80% {
        @include transform(translate(900px, 0));
    }
    90% {
        @include transform(translate(1200px, 50px));
    }
    100% {
        @include transform(translate(1500px ,0));
        top:-300px;
    }
}